@import url("https://fonts.googleapis.com/css?family=Srisakdi");
@import url("https://fonts.googleapis.com/css?family=Lilita One");
@import url("https://fonts.googleapis.com/css?family=Thasadith");
@font-face {
  font-family: "theFont"; /*a name to be used later*/
  src: url("ElegantandSensational.ttf"); /*URL to font*/
}

$thefont1: "Lilita One";
$thefont2: "Thasadith";
$thefont3: "Srisakdi";

$BBgreen: rgb(15, 133, 50);
$BBbrown: rgb(50, 20, 0);

html {
  background-color: rgba(250, 250, 250, 0.8);
  overflow-x: hidden;
  .sidenav-trigger {
    i {
      transform: scale(1.8);
      position: absolute;
      top: 80px;
      left: 30px;
      z-index: 10;
    }
  }
  .topNavDiv {
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(250, 250, 250, 1);
    h6 {
      font-family: $thefont2;
      font-size: 14pt;
    }
    .nav-wrapper {
      background-color: $BBgreen;
      height: 60px;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 10;
      .imgLogo {
        width: 200px;
        z-index: 11;
        margin-top: -30px;
        position: static;
      }
    }
    ul {
      li {
        img {
          width: 150px;
          margin-left: 75px;
          margin-top: 20px;
        }
      }
    }
  }
  .black {
    background-color: rgba(0, 0, 0, 0) !important;
    button {
      margin-bottom: 100px;
    }
  }
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    opacity: 0 !important;
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-property: opacity;
    transition-duration: 1s;
    h1 {
      font-family: "theFont";
      font-size: 120pt;
      line-height: 70px;
      margin: auto;
      z-index: 10;
      color: white !important;
      text-shadow: -4px 3px 0 $BBgreen;
      position: absolute;
      top: 100px;
      left: 0px;
    }
    .carImg {
      height: 500px !important;
    }
  }
  .active {
    opacity: 0.9 !important;
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: opacity;
    transition-duration: 1s;
  }
  .headRow {
    z-index: 10;
    h3 {
      font-family: $thefont2;
      font-size: 16pt;
      margin-bottom: -50px;
      z-index: 10;
      color: $BBbrown !important;
      text-shadow: -1px 1px 0 $BBgreen;
      position: absolute;
      right: 0;
      border-bottom: 1.3px solid $BBbrown;
      width: 85vw;
      height: 30px;
      top: 310px;
    }
    .smIcon {
      width: 40px;
      margin: 5px;
    }
    .smIcons {
      position: relative;
      bottom: 140px;
      padding: 5px;
      padding-top: 10px;
      background-color: rgba(250, 250, 250, 0.6);
    }
  }
  h2 {
    font-family: $thefont2;
    font-size: 25pt;
    z-index: 10;
    color: $BBbrown !important;
    text-shadow: -1.75px 1px 0 $BBgreen;
  }
  .imgPar {
    opacity: 0.8 !important;
  }
  .parallax-container {
    height: 600px;
    z-index: -1;
    .carousel-item {
      object-fit: cover;
      img: {
        height: 1000px;
        width: 1000px;
      }
    }
  }
  .par2Height {
    height: 350px !important;
  }
  .producePic {
    width: 100% !important;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  #map {
    width: 100%;
    height: 350px;
  }
  .page-footer {
    margin-top: 100px;
    background-color: $BBgreen;
    h5 {
      font-family: $thefont2;
    }
  }
}

//-----------------mobile view below-------------------------

@media screen and (max-width: 444px) {
  html {
    background-color: rgba(250, 250, 250, 0.8);
    overflow-x: hidden;
    ul {
      li {
        img {
          width: 150px;
          margin-left: 75px;
          margin-top: 20px;
        }
      }
    }
    .sidenav-trigger {
      position: absolute;
      top: 8px;
      left: 0px;
      z-index: 11;
    }
    .sidenav {
      z-index: 12;
    }
    .sidenav-overlay {
      z-index: 11;
    }
    .topNavDiv {
      height: 100px;
      position: relative;
      h6 {
        font-family: $thefont2;
        font-size: 14pt;
      }
      .nav-wrapper {
        background-color: $BBgreen;
        height: 60px;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 10;
        .imgLogo {
          width: 200px;
          z-index: 11;
          margin-top: -30px;
          position: static;
        }
      }
    }
    .black {
      background-color: rgba(0, 0, 0, 0) !important;
      margin-top: 0;
      button {
        margin-bottom: 100px;
      }
    }
    .carousel-item {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      opacity: 0 !important;
      -webkit-transition-property: opacity; /* Safari */
      -webkit-transition-duration: 0.5s; /* Safari */
      transition-property: opacity;
      transition-duration: 1s;
      h1 {
        font-family: "theFont";
        font-size: 140pt;
        line-height: 90px;
        margin: auto;
        z-index: 10;
        color: white !important;
        text-shadow: -4px 3px 0 $BBgreen;
        position: absolute;
        top: 90px;
        left: 0px;
        padding: 20px;
        width: 100%;
      }
      .carImg {
        height: 550px !important;
        margin-left: -200px;
        -webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
        filter: brightness(60%);
      }
      .carImg90s {
        height: 550px !important;
        margin-left: -60px;
        -webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
        filter: brightness(60%);
      }
      .carImgFish {
        height: 550px !important;
        margin-left: -20px;
        -webkit-filter: brightness(60%); /* Safari 6.0 - 9.0 */
        filter: brightness(60%);
      }
    }
    .indicators {
      margin-bottom: 100px !important;
    }
    .active {
      opacity: 1 !important;
      -webkit-transition-property: opacity; /* Safari */
      -webkit-transition-duration: 1s; /* Safari */
      transition-property: opacity;
      transition-duration: 1s;
    }
    .headRow {
      z-index: 10;
      h3 {
        font-family: $thefont2;
        font-size: 16pt;
        margin-bottom: -50px;
        z-index: 10;
        color: $BBbrown !important;
        text-shadow: -1px 1px 0 $BBgreen;
        position: absolute;
        right: 0;
        border-bottom: 1.3px solid $BBbrown;
        width: 85vw;
        height: 30px;
        top: 310px;
      }
      .smIcon {
        width: 40px;
        margin: 5px;
      }
      .smIcons {
        position: relative;
        height: 90px;
        bottom: 80px;
        padding: 5px;
        padding-top: 10px;
        background-color: rgba(250, 250, 250, 0.7);
      }
    }
    .aboutSection {
      margin-top: -70px;
    }
    h2 {
      font-family: $thefont2;
      font-size: 25pt;
      z-index: 10;
      color: $BBbrown !important;
      text-shadow: -1.75px 1px 0 $BBgreen;
    }
    .imgPar {
      opacity: 0.8 !important;
    }
    .parallax-container {
      height: 600px;
      z-index: -1;
      .carousel-item {
        object-fit: cover;
        img: {
          height: 1000px;
          width: 1000px;
        }
      }
    }
    .quoteDiv {
      margin-top: -300px;
    }
    .infoHeader {
      border-bottom: 1px solid black;
      padding-bottom: 10px;
      width: 200px;
      margin: auto;
      margin-top: 50px;
    }
    .par2Height {
      height: 350px !important;
    }
    .producePic {
      width: 100% !important;
      border-radius: 3px;
      margin-bottom: 10px;
    }
    #map {
      width: 100%;
      height: 350px;
    }
    .page-footer {
      margin-top: 100px;
      background-color: $BBgreen;
      h5 {
        font-family: $thefont2;
      }
    }
  }
}
