@import url("https://fonts.googleapis.com/css?family=Srisakdi");
@import url("https://fonts.googleapis.com/css?family=Lilita One");
@import url("https://fonts.googleapis.com/css?family=Thasadith");
@font-face {
  font-family: "theFont";
  /*a name to be used later*/
  src: url("ElegantandSensational.ttf");
  /*URL to font*/
}

html {
  background-color: rgba(250, 250, 250, 0.8);
  overflow-x: hidden;
}

html .sidenav-trigger i {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  position: absolute;
  top: 80px;
  left: 30px;
  z-index: 10;
}

html .topNavDiv {
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #fafafa;
}

html .topNavDiv h6 {
  font-family: "Thasadith";
  font-size: 14pt;
}

html .topNavDiv .nav-wrapper {
  background-color: #0f8532;
  height: 60px;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

html .topNavDiv .nav-wrapper .imgLogo {
  width: 200px;
  z-index: 11;
  margin-top: -30px;
  position: static;
}

html .topNavDiv ul li img {
  width: 150px;
  margin-left: 75px;
  margin-top: 20px;
}

html .black {
  background-color: rgba(0, 0, 0, 0) !important;
}

html .black button {
  margin-bottom: 100px;
}

html .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  opacity: 0 !important;
  -webkit-transition-property: opacity;
  /* Safari */
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-property: opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

html .carousel-item h1 {
  font-family: "theFont";
  font-size: 120pt;
  line-height: 70px;
  margin: auto;
  z-index: 10;
  color: white !important;
  text-shadow: -4px 3px 0 #0f8532;
  position: absolute;
  top: 100px;
  left: 0px;
}

html .carousel-item .carImg {
  height: 500px !important;
}

html .active {
  opacity: 0.9 !important;
  -webkit-transition-property: opacity;
  /* Safari */
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-property: opacity;
  transition-duration: 1s;
}

html .headRow {
  z-index: 10;
}

html .headRow h3 {
  font-family: "Thasadith";
  font-size: 16pt;
  margin-bottom: -50px;
  z-index: 10;
  color: #321400 !important;
  text-shadow: -1px 1px 0 #0f8532;
  position: absolute;
  right: 0;
  border-bottom: 1.3px solid #321400;
  width: 85vw;
  height: 30px;
  top: 310px;
}

html .headRow .smIcon {
  width: 40px;
  margin: 5px;
}

html .headRow .smIcons {
  position: relative;
  bottom: 140px;
  padding: 5px;
  padding-top: 10px;
  background-color: rgba(250, 250, 250, 0.6);
}

html h2 {
  font-family: "Thasadith";
  font-size: 25pt;
  z-index: 10;
  color: #321400 !important;
  text-shadow: -1.75px 1px 0 #0f8532;
}

html .imgPar {
  opacity: 0.8 !important;
}

html .parallax-container {
  height: 600px;
  z-index: -1;
}

html .parallax-container .carousel-item {
  -o-object-fit: cover;
     object-fit: cover;
  img-height: 1000px;
  img-width: 1000px;
}

html .par2Height {
  height: 350px !important;
}

html .producePic {
  width: 100% !important;
  border-radius: 3px;
  margin-bottom: 10px;
}

html #map {
  width: 100%;
  height: 350px;
}

html .page-footer {
  margin-top: 100px;
  background-color: #0f8532;
}

html .page-footer h5 {
  font-family: "Thasadith";
}

@media screen and (max-width: 444px) {
  html {
    background-color: rgba(250, 250, 250, 0.8);
    overflow-x: hidden;
  }
  html ul li img {
    width: 150px;
    margin-left: 75px;
    margin-top: 20px;
  }
  html .sidenav-trigger {
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 11;
  }
  html .sidenav {
    z-index: 12;
  }
  html .sidenav-overlay {
    z-index: 11;
  }
  html .topNavDiv {
    height: 100px;
    position: relative;
  }
  html .topNavDiv h6 {
    font-family: "Thasadith";
    font-size: 14pt;
  }
  html .topNavDiv .nav-wrapper {
    background-color: #0f8532;
    height: 60px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
  }
  html .topNavDiv .nav-wrapper .imgLogo {
    width: 200px;
    z-index: 11;
    margin-top: -30px;
    position: static;
  }
  html .black {
    background-color: rgba(0, 0, 0, 0) !important;
    margin-top: 0;
  }
  html .black button {
    margin-bottom: 100px;
  }
  html .carousel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    position: relative;
    opacity: 0 !important;
    -webkit-transition-property: opacity;
    /* Safari */
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-property: opacity;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  html .carousel-item h1 {
    font-family: "theFont";
    font-size: 140pt;
    line-height: 90px;
    margin: auto;
    z-index: 10;
    color: white !important;
    text-shadow: -4px 3px 0 #0f8532;
    position: absolute;
    top: 90px;
    left: 0px;
    padding: 20px;
    width: 100%;
  }
  html .carousel-item .carImg {
    height: 550px !important;
    margin-left: -200px;
    -webkit-filter: brightness(60%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(60%);
  }
  html .carousel-item .carImg90s {
    height: 550px !important;
    margin-left: -60px;
    -webkit-filter: brightness(60%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(60%);
  }
  html .carousel-item .carImgFish {
    height: 550px !important;
    margin-left: -20px;
    -webkit-filter: brightness(60%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(60%);
  }
  html .indicators {
    margin-bottom: 100px !important;
  }
  html .active {
    opacity: 1 !important;
    -webkit-transition-property: opacity;
    /* Safari */
    -webkit-transition-duration: 1s;
    /* Safari */
    transition-property: opacity;
    transition-duration: 1s;
  }
  html .headRow {
    z-index: 10;
  }
  html .headRow h3 {
    font-family: "Thasadith";
    font-size: 16pt;
    margin-bottom: -50px;
    z-index: 10;
    color: #321400 !important;
    text-shadow: -1px 1px 0 #0f8532;
    position: absolute;
    right: 0;
    border-bottom: 1.3px solid #321400;
    width: 85vw;
    height: 30px;
    top: 310px;
  }
  html .headRow .smIcon {
    width: 40px;
    margin: 5px;
  }
  html .headRow .smIcons {
    position: relative;
    height: 90px;
    bottom: 80px;
    padding: 5px;
    padding-top: 10px;
    background-color: rgba(250, 250, 250, 0.7);
  }
  html .aboutSection {
    margin-top: -70px;
  }
  html h2 {
    font-family: "Thasadith";
    font-size: 25pt;
    z-index: 10;
    color: #321400 !important;
    text-shadow: -1.75px 1px 0 #0f8532;
  }
  html .imgPar {
    opacity: 0.8 !important;
  }
  html .parallax-container {
    height: 600px;
    z-index: -1;
  }
  html .parallax-container .carousel-item {
    -o-object-fit: cover;
       object-fit: cover;
    img-height: 1000px;
    img-width: 1000px;
  }
  html .quoteDiv {
    margin-top: -300px;
  }
  html .infoHeader {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
  }
  html .par2Height {
    height: 350px !important;
  }
  html .producePic {
    width: 100% !important;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  html #map {
    width: 100%;
    height: 350px;
  }
  html .page-footer {
    margin-top: 100px;
    background-color: #0f8532;
  }
  html .page-footer h5 {
    font-family: "Thasadith";
  }
}
/*# sourceMappingURL=Demo.css.map */